#
# [Map X] - Номер карты, от 0 до 500.
# map_name - имя карты.
# script - скрипт карты.
# time - влияние времени суток на освещение. При -1 освещение будет меняться.
# Положительное значение указывает то, что будет постоянная освещенность,
# анологичное времени суток, начиная с 00.00, в минутах.
# no_log_out - посволяет ли карта выходить игрокам из игры полностью.
# Если выход произошел, например при перезагрузки сервера, то игрок начнет
# со специального места (Entrance 241) или глобала (если место не обозначено).
#

#
# Cities
#



[Map 18]   # Modoc Large
map_name=modoc
script=map_modoc@_MapInit

[Map 19] #animal prison
map_name=animal
script=map_animal@_MapInit

[Map 20]   # Ghostfarm
map_name=ghostfarm
script=local_population@_MapInit

[Map 21]   #  Junkyard
map_name=junkyard

[Map 50]   # Start map
map_name=start_map

[Map 98]
map_name=satter_casinodw_temp

[Map 99]
map_name=satter_casino

[Map 100]   # Sacramento
map_name=satter_east
no_log_out=1
time=0200

[Map 101]   # Sacramento East
map_name=satter_east

[Map 70] #Deadmen location
map_name=deadloc
no_log_out=1
time=1200

[Map 80] #replicator out
map_name=replicat1

[Map 81] #replicator in
map_name=replicat2
time=600

#
# Special Encounters
#



#
# Generic Encounters
#

[Map 190]   # City Encounter 1
map_name=e_city1
[Map 191]   # City Encounter 2
map_name=e_city2
[Map 192]   # City Encounter 3
map_name=e_city3
[Map 193]   # City Encounter 4
map_name=e_city4
[Map 194]   # City Encounter 5
map_name=e_city5
[Map 195]   # City Encounter 6
map_name=e_city6
[Map 196]   # City Encounter 7
map_name=e_city7
[Map 197]   # City Encounter 8
map_name=e_city8
[Map 198]   # City Encounter 4 Sewer
map_name=e_city4_sewer
time=0
script=mob@_MobsMapInit

#
# Replication
#



#
# Extended encounters 
#

[Map 301]   # Desert Encounter 1
map_name=e_desert1
[Map 302]   # Desert Encounter 2
map_name=e_desert2
[Map 303]   # Desert Encounter 3
map_name=e_desert3
[Map 304]   # Desert Encounter 4
map_name=e_desert4
[Map 305]   # Desert Encounter 5
map_name=e_desert5
[Map 306]   # Desert Encounter 6
map_name=e_desert6
[Map 307]   # Desert Encounter 7
map_name=e_desert7
[Map 308]   # Desert Encounter 8
map_name=e_desert8
[Map 309]   # Desert Encounter 9
map_name=e_desert9
[Map 310]   # Desert Encounter 10
map_name=e_desert10
[Map 311]   # Desert Encounter 11
map_name=e_desert11
[Map 312]   # Desert Encounter 12
map_name=e_desert12

[Map 331]   # Mountain Encounter 1
map_name=e_mountain1
[Map 332]   # Mountain Encounter 2
map_name=e_mountain2
[Map 333]   # Mountain Encounter 3
map_name=e_mountain3
[Map 334]   # Mountain Encounter 4
map_name=e_mountain4
[Map 335]   # Mountain Encounter 5
map_name=e_mountain5
[Map 336]   # Mountain Encounter 6
map_name=e_mountain6

[Map 348]   # Cave Encounter 0 Entrance
map_name=e_cave0_out
[Map 349]   # Cave Encounter 0 Cave
map_name=e_cave0_in
time=300
script=mob@_MobsMapInit
[Map 350]   # Cave Encounter 1 Entrance
map_name=e_cave1_out
[Map 351]   # Cave Encounter 1 Cave
map_name=e_cave1_in
time=300
script=mob@_MobsMapInit
[Map 352]   # Cave Encounter 2 Entrance
map_name=e_cave2_out
[Map 353]   # Cave Encounter 2 Cave
map_name=e_cave2_in
time=300
script=mob@_MobsMapInit
[Map 354]   # Cave Encounter 3 Entrance
map_name=e_cave3_out
[Map 355]   # Cave Encounter 3 Cave
map_name=e_cave3_in
time=300
script=mob@_MobsMapInit
[Map 356]   # Cave Encounter 4 Entrance
map_name=e_cave4_out
[Map 357]   # Cave Encounter 4 Cave
map_name=e_cave4_in
time=300
script=mob@_MobsMapInit
[Map 358]   # Cave Encounter 5 Entrance
map_name=e_cave5_out
[Map 359]   # Cave Encounter 5 Cave
map_name=e_cave5_in
time=300
script=mob@_MobsMapInit

[Map 371]   # Ocean Encounter 1
map_name=e_ocean1
[Map 372]   # Ocean Encounter 2
map_name=e_ocean2
[Map 373]   # Ocean Encounter 3
map_name=e_ocean3
[Map 374]   # Ocean Encounter 4
map_name=e_ocean4
[Map 375]   # Ocean Encounter 5
map_name=e_ocean5

[Map 381]   # Coast Encounter 1
map_name=e_coast1
script=map_coast@_CoastInit
[Map 382]   # Coast Encounter 2
map_name=e_coast2
script=map_coast@_CoastInit
[Map 383]   # Coast Encounter 3
map_name=e_coast3
script=map_coast@_CoastInit
[Map 384]   # Coast Encounter 4
map_name=e_coast4
script=map_coast@_CoastInit
[Map 385]   # Coast Encounter 5
map_name=e_coast5
script=map_coast@_CoastInit
[Map 386]   # Coast Encounter 6
map_name=e_coast6
script=map_coast@_CoastInit
[Map 387]   # Coast Encounter 7
map_name=e_coast7
script=map_coast@_CoastInit
[Map 388]   # Coast Encounter 8
map_name=e_coast8
script=map_coast@_CoastInit
[Map 389]   # Coast Encounter 9
map_name=e_coast9
script=map_coast@_CoastInit
[Map 390]   # Coast Encounter 10
map_name=e_coast10
script=map_coast@_CoastInit
[Map 391]   # Coast Encounter 11
map_name=e_coast11
script=map_coast@_CoastInit
[Map 392]   # Coast Encounter 5 cave
map_name=e_coast5_cave
time=300
script=mob@_MobsMapInit

[Map 400]   # TECH MAP 4 MAPGEN
map_name=tech_itembank


[Map 407] # Poseydon Oil North Entrance
map_name=psd_factory_01
[Map 408] # Poseydon Oil Down Town
map_name=psd_factory_02
[Map 409] # Poseydon Oil Factory Undergraund
map_name=psd_factory_03
time=0
[Map 410] # Poseydon Oil Vault 
map_name=psd_factory_04
time=1140
[Map 411] # Poseydon Oil West Entrance
map_name=psd_factory_05
[Map 412] # Poseydon Oil Village
map_name=psd_factory_06
[Map 413] # Poseydon Oil East Entrance
map_name=psd_factory_07
[Map 414] # Poseydon Oil Dungeon
map_name=psd_factory_08